[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CompPareto"]
	path = CompPareto
	url = https://github.com/liuaber/comppareto
[submodule "GEC"]
	path = GEC
	url = https://github.com/liuaber/gec
